<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Welcome to Sample app</h1>
			
			<hr>
			
			<h3>Getting Started</h3>
			<ol>
				<li>Create your database</li>
				<li>Specify your database connection details in your <code>/ApplicationConfig.php</code> file in appropriate dev/production block</li>
				<li>Feel free to create additional dev blocks per your requirement in the above file. You can also use this file to define application constants which can be used through out your Application.</li>
			</ol>
		</div>
	
	</div>

</div>

